<h1>FORMULARIO USUARIOS</h1>
<form action="/users" method="post">
  <label for="nombreUsuario">Nombre del usuario</label>
  <input type="text" id="nombreUsuario" name="nombre" />
  <label for="apellidoUsuario">Apellido </label>
  <input type="text" id="apellidoUsuario" name="apellido" />
  <label for="edadUsuario">Edad del usuario</label>
  <input type="number" id="edadUsuario" name="edad" />
  <button type="submit">Agregar usuario</button>
</form>